* {
  margin: 0;
  padding: 0;
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(50, 50, 50);
}

.white {
  background-color: rgb(180, 180, 180);
}

.selected {
  background-color: rgb(151, 38, 38);
}

.flashing {
  animation: flashing 0.8s infinite;
}

.available {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgb(39, 151, 44);
}

.target {
  background-color: rgb(39, 151, 44); /* rgb(237, 255, 72); */
}

.lost {
  height: 50vh;
  padding: 30px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: rgb(190, 190, 190);
}

.lost-title {
  margin-bottom: 10px;
}

.lost-info {
  text-align: center;
}
